*{
    padding:0;
    margin:0;
}
@font-face{
    font-family:Roboto;
    src:url("./Roboto/Roboto-Light.ttf");
}
@font-face{
    font-family:Roboto2;
    src:url("./Dancing_Script/DancingScript-VariableFont_wght.ttf");
}
body{
    font-family:Roboto;
}
.container{
    background:#627254;
}
.container>h3:first-child{
    font-family:Roboto2;
    font-size: 2rem;
    text-align:center;
    padding:7px 0;
}
.container>.library-content{
    display:grid;
    height:100vh;
    grid-template-columns:4fr 1fr;
    gap:5px;
}
.library-content>.shelf-container{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    grid-template-rows:200px;
    gap:20px;
    background:#A79277;
    padding:0.9rem 0.7rem;
}
.library-content>.shelf-container>div{
    height:150px;
    background:#B6C4B6;
    border-radius:10px;
    padding:0.5rem 0.2rem;
    box-shadow:-6px 0 0px #527853;
    display:flex;
    flex-direction:column;
    padding:0.5rem 0.2rem 1rem 0.5rem;
}
.library-content>.shelf-container>div:hover{
    transform: translate(4px, 4px);
}
.shelf-container>div>button:first-child{
    align-self:end;
    padding:0.1rem;
    border:none;
    border-radius:3px;
    font-size:0.7rem;
    font-weight:600;
    margin-bottom:0.3rem;
}
.shelf-container>div>p{
    font-size:1.1rem;
    margin-bottom:0.7rem;
}
.shelf-container>div>button:last-child{
    padding:3px 8px;
    border-radius:10px;
    border:none;
    font-weight:600;
    margin-top:1rem;
    background:#A79277;
    align-self:center;
    font-size:1rem;
}
.library-content>.addBook-container{
    padding:0.5rem 1.2rem;
    background:#A79277;
}
.library-content>.addBook-container>p{
    font-size:1.3rem;
}
.library-content>.addBook-container>p:active{
    color:white;
}
.library-content>.addBook-container>.addBook form{
    display:flex;
    flex-direction:column;
    background:#627254;
    margin-top:1.2rem;
    padding:0.5rem 0.2rem 1rem 0.5rem;
    border-radius: 10px;
    visibility:hidden;
}
.addBook-container>.addBook>form #close{
    align-self:end;
    padding:0.2rem;
    border:none;
    border-radius:5px;
    margin-bottom:0.5rem;
}
.addBook-container>.addBook>form #close:active{
    background:rgb(163, 150, 150);
}
.addBook-container>.addBook>form label{
    font-size:1.2rem;
    margin-bottom:0.4rem;
}
.addBook-container>.addBook>form input,select{
    max-width:150px;
    border-radius: 5px;
    border:none;
    margin-bottom:0.5rem;
    height:1.1rem
}
.addBook-container>.addBook>form>#addButton{
    padding:5px 10px;
    align-self:center;
    border-radius:10px;
    border:none;
    margin-top:1rem;
    background:#A79277;
    font-size:1rem;
    color:white;
    font-weight:600;
}
.addBook-container>.addBook>form>#addButton:active{
    box-shadow: inset 3px 3px 10px rgb(71, 56, 56);
    color:rgb(58, 56, 56);
}
@media(max-width:600px){
    .container>h3:first-child{
        font-size:1.5rem;
    }
    .shelf-container>div>button:first-child{
        font-size:0.5rem;
    }
    .shelf-container>div>p{
        font-size:0.7rem;
        margin-bottom:0.5rem;
    }
    .shelf-container>div>button:last-child{
        font-size:0.8rem;
    }
    .library-content>.addBook-container>p{
        font-size:1.1rem;
    }
    .library-content>.addBook-container{
        padding:0.5rem 0.5rem;
    }
    .addBook-container>.addBook>form #close{
        font-size:0.5rem;
    }
    .addBook-container>.addBook>form label{
        font-size:0.7rem;
    }
    .addBook-container>.addBook>form input,select{
        max-width:100px;
        font-size:0.7rem;
        height:0.9rem;
    }
    .addBook-container>.addBook>form>#addButton{
        padding:3px 7px;
        font-size:0.7rem;
    }
    .library-content>.shelf-container>div{
        height:100px;
    }
    .shelf-container>div>button:last-child{
        margin-top:0.3rem;
    }
}
